body
{
    background-image: url(https://previews.123rf.com/images/dimapolie/dimapolie1804/dimapolie180400085/98944776-vector-travel-pattern-travel-seamless-background.jpg);
    margin: 0px;
    padding:0px;
    align-items: center;
}
body> div:first-of-type
{
    background-image: url(https://st.depositphotos.com/1510192/4921/v/950/depositphotos_49214981-stock-illustration-city-map-abstract-seamless-pattern.jpg);
    padding:0px;
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}
.logout
 {
    position: fixed;
    padding: 16px;
    right: 8px;
    top: 8px;
    background: orange;
    border: 1px solid black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    transition: 0.5s;
  }
.logout:hover {
    background: pink;
  }
.meniu, .meniu ul
{
    list-style-type: none;
}
.meniu
{
    background-image: url(https://img.graphicsurf.com/2019/10/travel-vector-free-seamless-pattern2.jpg);
    margin:0px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    
}
.meniu > li 
{
    display: inline-block;
    vertical-align: top;
}
.meniu > li:hover > ul
{
    display:contents;

}
.meniu > li > ul{
    display: none;
    font-size: 20px;
}
.meniu > li > ul >li
{
    border: 2px solid black; 
}
.meniu
{
    font-size: 40px;
}
h1
{
    color: blue;
}
h2
{
    color: darkcyan;
}
#detalii
{
    color: purple;
}
#poza1
{
    width: 700px;
    height: 400px;
}
.poze  img
{
    width: 700px;
    height: 400px;
    margin: 10px;
    border:5px solid purple;
}
button
{
    margin: 20px;
    background-color: aqua;
    border-color: red;
}
#orase > p
{
    border: 5px double green;
    font-size: 20px;
    background-color: white;
    color: maroon;
    margin-left: 20px;
    margin-right: 20px;
}
input:not([type="radio"]):not([type="checkbox"])
{
    display: block;
}
input
{
    margin:10px;
}
.formular
{
    background-color: beige;
    margin: 30px;
}
.formular h2
{
    color:red;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:30px;
}
.tabel, th, td
{
    border: 5px solid;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    border-color: purple;
    background-color: azure;
}
@media screen and (max-height: 500px)
{
    #poza1
    {
        height:100px;
        width:100px;
    }
}
@media screen and (min-height: 300px)
{
    h1
    {
        margin-left: 50px;
        margin-right: 50px;
        border: 2px solid black;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
}