body
{
    background-image: url(https://previews.123rf.com/images/dimapolie/dimapolie1804/dimapolie180400085/98944776-vector-travel-pattern-travel-seamless-background.jpg);
    margin: 0px;
    padding:0px;
    align-items: center;
}
body> div:first-of-type
{
    background-image: url(https://st.depositphotos.com/1510192/4921/v/950/depositphotos_49214981-stock-illustration-city-map-abstract-seamless-pattern.jpg);
    padding:0px;
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}
#header
{
   text-align: center;
}
.logout
 {
    position: fixed;
    padding: 16px;
    right: 8px;
    top: 8px;
    background: orange;
    border: 1px solid black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    transition: 0.5s;
  }
.logout:hover {
    background: pink;
  }
.meniu, .meniu ul
{
    list-style-type: none;
}
.meniu
{
    background-image: url(https://img.graphicsurf.com/2019/10/travel-vector-free-seamless-pattern2.jpg);
    margin:0px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    
}
.meniu > li 
{
    display: inline-block;
    vertical-align: top;
}
.meniu > li:hover > ul
{
    display:contents;

}
.meniu > li > ul{
    display: none;
    font-size: 20px;
}
.meniu > li > ul >li
{
    border: 2px solid black; 
}
.meniu
{
    font-size: 40px;
}
h1
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style:italic;
}
h2
{
    color: darkmagenta;
}
#detalii  
{
    font-size: 100%;

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align:justify;
    margin-left: 20px;
    margin-right: 20px;
}
aside
{
    width: 30%;
    margin-left: 15px;
    float: right;
    font-style: italic;
}
#pozaaside
{
    width: 220px;
    height: 180px;
}

#poza1
{
    width: 300px;
    height: 400px;
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
}
#poza1:hover
{
    width:700px
}
#poza2
{
    width: 350px;
    height: 300px;
}
.container
{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    margin-left: 10px;

}
.container img
{
    margin-left: auto;
    margin-right: auto;
    border: 10px red double;

}
#gal:hover + .container > .poza.A 
{
    order:4;
}
#gal:hover + .container  .poza.B
{
    order:5;
}
#gal:hover + .container  .poza.C
{
    order:3;
}
#gal:hover + .container  .poza.D
{
    order:2;
}
#gal:hover + .container  .poza.E
{
    order:1;
}
.poza.C 
{
    grid-column-start: 1;
    grid-column-end: 3;
}
#contor
{
    font-size: 20px;
    margin-top: 10px;
}
#video::before
{
    content: '👀';
}
#video::after
{
    content: '👀';
}
.tabel, th, td
{
    border: 5px solid;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    border-color: purple;
    background-color: azure;
}