<HTML>
    <HEAD>
        <meta charset="UTF-8">
        <TITLE> EROARE 404</TITLE>
        <link rel="stylesheet" media="all" type="text/css" href="404.css" />
    </HEAD>
    <BODY>
        <div class="animatie">
        <span >E</span>
        <span>R</span>
        <span>O</span>
        <span>A</span>
        <span>R</span>
        <span>E</span>
        <span>4</span>
        <span>0</span>
        <span>4</span>
        </div>
    </BODY>
</HTML>